
body{
    background: #dbeafe;
    font-family: arial, sans serif;
    color: #1f2937;
    margin: 0;
    padding: 40PX;
}

.container {
    background: white;
    width: 90%;
    max-width: 1000px;
    box-sizing: border-box;
    margin: 50px auto;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.15);
}
 
h1 {
    color: #2563eb;
    text-align: center;
}

h2{
    color: #1d4ed8;
}

p{
    font-size: 22px;
    line-height: 35px;
}
button{
    background: #2563eb;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease;
}
button:hover{
    background: #1d4ed8;
    transform: translate skewY(-2px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.18);
}
.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.card{
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
    min-width: 220px;
    transition:.3s ease;
}
.card i{
    font-size: 28px;
    color: royalblue;
    margin-bottom: 15px;
}    
.card:hover{
    transform: translateY(-5px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.20);
}
nav{
    display: flex;
    justify-content: space-between;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

nav ul{
    display: flex;
    list-style: none;
    gap: 25px;
}

nav a{
    text-decoration: none;
    color: #2563eb;
}
nav li{
    display: flex;
    align-items: center;
    gap: 6px;
}
.hero {
    text-align: center;
    padding: 60px 30px;
}

.hero h1 {
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.hero p {
    max-width: 750px;
    margin: 0 auto 30px;
    font-size: 20px;
    line-height: 1.6;
}
nav h1 {
    margin: 0;
    font-size: 28px;
    text-align: left;
}@media (max-width: 768px){
    body{
        padding: 20px;
    }

    nav{
        flex-direction: column;
        gap: 20px;
        justify-content: center;
    }

    nav ul{
        flex-wrap: wrap;
        gap: 20px;
        text-align: center;
        padding: 0;
    }

    .hero h1{
        font-size: 36px;
    }

    .hero p{
        font-size: 18px;
    }

    .cards{
        grid-template-columns: 1fr;
    }

    button{
        width: 100%;
        margin-bottom: 10px;
    }

    .cards-planos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;

    }

    .plano{
        padding: 25px;
        border-radius: 12px;
        box-shadow: 0 4px 10px rgba(0,0,0,0.15);
        transition: 0.3s;
    }

    .plano:hover{
        transform: translateY(-5px);
    }
}